footer {
  font-size: var(--body-font-size-xs);
}

footer .footer {
  visibility: hidden;
}

footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

footer .footer > div {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

footer .footer > div > .section {
  margin: 0;
  padding: 0;
}

footer .footer > div > .section > div {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

footer .footer p {
  margin: 0;
}
